<div class='hero hero--landing'>
	<h1 class='hero--hed'>Campaign 2016</h1>
</div>

{{> graphic/delegate}}

<div class='dir container'>

	{{#each races}}
	<time class='dir--date' datetime="{{datetime}}">{{dateDisplay}}</time>
	<ul class='dir--list'>
		
		{{#each events}}
			<li class='dir--item dir--{{toLowerCase party}}'>
				<a class='dir--link' href='https://apps.bostonglobe.com/election-results/2016/{{toLowerCase raceType}}/{{toLowerCase party}}/{{joinHyphen state}}'>
					{{state}} {{party}} {{toLowerCase raceType}}
				</a>
				{{#if winnerName}}
				<div class='dir--poll'>
					<p class='dir--poll-winner winner-tag'>{{winnerName}} <span>{{winnerPercent}}%</span></p>
				</div>
				{{/if}}
			</li>
		{{/each}}

	</ul>
	{{/each}}

</div>
