<div class='teasers'>
	<ul class='teasers--list'>
		<li class='teasers--item'>
			<a class='teasers--link' href='#' style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url({{image}});">
				<h3 class='teasers--hed'>Campaign 2016: All Races</h3>
			</a>
		</li>
		<li class='teasers--item'>
			<a class='teasers--link' href='http://groundgame.bostonglobe.com/' style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url({{image}});">
				<h3 class='teasers--hed'>Ground Game</h3>
			</a>
		</li>
		<li class='teasers--item'>
			<a class='teasers--link' href='{{teasers.link}}' style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url({{teasers.image}});">
				<h3 class='teasers--hed'>{{teasers.hed}}</h3>
			</a>
		</li>
	</ul>
</div>
